@model IEnumerable<DemoMVC.Models.EMPDATA>
@{
    ViewBag.Title = "GetEmpdata";
}

<h2>GetEmpdata</h2>
@using (Html.BeginForm())
{
    if (Model != null)
    {
        <table border="1">
            <tr>
                <td>Empno</td>
                <td>Ename</td>
                <td>Job</td>
                <td>Mgr</td>
                <td>Hiredate</td>
                <td>Sal</td>
                <td>Comm</td>
                <td>Deptno</td>
            </tr>
            @foreach (var E in Model)
            {
                <tr>
                    <td>@E.EMPNO</td>
                    <td>@E.ENAME</td>
                    <td>@E.JOB</td>
                    <td>@E.MGR</td>
                    <td>@E.HIREDATE</td>
                    <td>@E.SAL</td>
                    <td>@E.COMM</td>
                    <td>@E.DEPTNO</td>
                </tr>
            }
            
        </table>

    }
}

